networks:
  forgejo:
    external: false

services:
  server:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    env_file:
      - .env
    environment:
      # Server configuration
      - FORGEJO__server__DOMAIN=${DOMAIN}
      - FORGEJO__server__ROOT_URL=${ROOT_URL}
      - FORGEJO__server__SSH_DOMAIN=${DOMAIN}
      
      # Mailer configuration
      - FORGEJO__mailer__ENABLED=${SMTP_ENABLED}
      - FORGEJO__mailer__PROTOCOL=${SMTP_PROTOCOL}
      - FORGEJO__mailer__SMTP_ADDR=${SMTP_ADDR}
      - FORGEJO__mailer__SMTP_PORT=${SMTP_PORT}
      - FORGEJO__mailer__USER=${SMTP_USER}
      - FORGEJO__mailer__PASSWD=${SMTP_PASSWORD}
      - FORGEJO__mailer__FROM=${SMTP_FROM}
      - FORGEJO__mailer__ENABLE_HELO=${SMTP_HELO}
      - FORGEJO__mailer__SUBJECT_PREFIX=${SMTP_PREFIX}
      
      # Email notifications
      - FORGEJO__service__ENABLE_NOTIFY_MAIL=${EMAIL_NOTIFICATIONS}
    restart: always
    networks:
      - forgejo
    volumes:
      - ./forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '3000:3000'
      - '222:22'